/* Kill ALL focus indicators on buttons */
button:focus,
button:focus-visible,
button:active {
  outline: none !important;
  box-shadow: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

/* For Firefox */
button::-moz-focus-inner {
  border: 0;
}

/* Global tap highlight removal */
button {
  -webkit-tap-highlight-color: transparent;
}
